@media only screen and (max-width: 600px) {
    .imagem {
        display: ;
        vertical-align: top;
    }

    #texto {
        display: inline-block;
        vertical-align: top;
    }
    
    .ajuste5 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 65px;
        color: aliceblue;
    }

    .ajuste {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 230px;
        color: aliceblue;
    }

    .ajuste1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
        color: aliceblue;
    }

    .ajuste2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 80px;
        color: aliceblue;
    }

    .ajuste3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 60px;
        color: aliceblue;
    }

    .ajuste4 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 40px;
        color: aliceblue;
    }


}

.cabecalho {
    background-color: dimgray;
}

.raio {
    border: 4px solid sandybrown;
    border-radius: 50px;
    height: 150px;
    width: 150px;

}

.nome {
    color: white;
    font-family: arial;
    font-size: 25px;
}


.imagem {
    float: left;
}



#texto {
    display: grid;

}


.nome2 {
    font-family: arial;
    color: white;
    font-size: 15px;
}

.amarelo {
    background-color: sandybrown;
    color: sandybrown;
    font-size: 3px;
}

.sobre {
    text-align: left;
    color: white;
    font-size: 15px;
}

.amarelo1 {
    background-color: sandybrown;
    color: sandybrown;
    font-size: 5px;
}

#conteudo1 {
    background-color: dimgray;
    background-size: cover;

}

.cor {
    color: black;
    font-family: arial;
    background-color: white;
    border: 4px solid white;
    border-radius: 25px;
    text-align: center;

}

#texto3 {
    color: white;
    font-size: 16px;
    text-align: center;
}

.barra {
    text-align: center;
}

#texto4 {
    text-align: center;
    font-family: arial;
    font-size: 16px;
}

#ano {
    background-color: aliceblue;
    background-size: cover;
    padding-bottom: 60%;
}

.cor1 {
    background-color: sandybrown;
    color: white;
    text-align: center;
    border-radius: 25px;
}

.link {
    color: white;
}

#info {
    display: grid;
}


.ajuste {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 75px;
    color: aliceblue;
}

.ajuste1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    color: aliceblue;
}

.ajuste2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 80px;
    color: aliceblue;
}

.ajuste3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 60px;
    color: aliceblue;
}

.ajuste4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
    color: aliceblue;
}

